@using St.John.Models
@model IEnumerable<DatosFarma>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Medicamentos</title>
   
    <style type="text/css">

        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>

    @using (Html.BeginForm("Index", "Farma", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" value="Importar" />
    }
    <div>
        @Html.ActionLink("Solicitar Pedido", "Pedido")
    </div>
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio ($)</th>
            </tr>
            @foreach (DatosFarma customer in Model)
            {
                <tr>
                    <td>@customer.Codigo</td>
                    <td>@customer.Nombre</td>
                    <td>@customer.Precio</td>
                </tr>
            }
        </table>
    }
</body>
</html>
